---
layout: archive
title: "Writing"
permalink: /writing/
author_profile: true
redirect_from:
  - /writing
  - /my-writing/
  - /writing.html
---

<hr />
<!-- list of publications -->

{% assign publications_content = site.pages | where: "title", "Publications" %}

{% for post in publications_content %}
  {{ post.content }}
{% endfor %}

<!-- public writing list -->
<h1>Public Writing</h1>
<hr />
{% assign public_writing_list = site.pages | where: "title", "Public Writing" %}

{% for post in public_writing_list %}
  {{ post.content }}
{% endfor %}

<!-- generate list of all research funding posts -->
<h1>Essays on Research Funding</h1>
<hr />
<p>These posts from my blog offer insights for researchers, artists, and performers who may be seeking grants. These articles are for general audiences, although there is an emphasis on those who are approach such funding opportunities from the perspective of university researchers or community members.</p>

{% assign funding_posts = site.posts | where: "categories", "research funding" %}
<ul>
{% for post in funding_posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%e %B %Y" | lstrip }})</li>
{% endfor %}
</ul>