---
layout: archive
title: "Writing"
permalink: /writing/
author_profile: true
redirect_from:
  - /writing
  - /my-writing/
  - /writing.html
---

<!-- Stuff for "related" cards - essays select by topic -->

{% for post in site.categories | where:"category", "research funding" %}
  {{ post.title }}
{% endfor %}

<!-- list of publications -->
<h2>My Publications</h2>
<p>publications here</p>

<!-- public writing list -->
<h2>My Public Writing</h2>

<p>Public writing page here!</p>

<!-- generate list of all research funding posts -->
<h2>Recent Essays on Research Funding</h2>
{% assign funding_posts = site.posts | where:category[0], "research funding" %}
<ul>
{% for post in funding_posts %}
  <li>{{ post.title }} at {{ post.url }}</li>
{% endfor %}
</ul>